:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  flex-wrap: wrap;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}

/*This section is for the nav and search bar items*/
.search-bar-container {
  display: block;
  width: 100%;
}

#search {
  font-size: 1rem;
}

#category-search {
  font-size: 1rem;
  height: 1.5rem;
}

.category-searchbar-label {
  margin-right: -5px;
}

.product-search-card.hide {
  display: none;
}

.product-search-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  padding: 0.5rem 0.5rem;
}

.product-search-list.hide {
  display: none;
}

.close-search-bar {
  background-color: #a5a5a5;
  display: block;
  margin: 1rem 15rem;
  padding: 1rem, 1rem;
  text-align: center;
}

.close-search-bar.hide {
  display: none;
}

.product-search-card {
  display: grid;
  grid-template-columns: 100px 1fr 150px;
  list-style: none;
  border: solid black 0.1rem;
  padding: 0.5rem 1rem;
}

.product-search-card a img {
  width: 90%;
}

.product-search-card a {
  text-decoration: none;
  color: black;
  font-size: 0.7rem;
}

.product-search-price {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}
.hero {
  position: relative;
}
.hero .logo {
  position: sticky;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.icons a {
  font-style: normal;
  text-decoration: none;
  color: black;
  text-align: center;
}

.category-title {
  text-transform: capitalize;
}

/* Table orders */

table {
  border: thin solid black;
  margin: 2rem auto;
  width: 100%;
  border-collapse: collapse;
}

table th.table-title {
  padding: 10px 2px;
  background-color: #c2ced6;
  color: black;
  letter-spacing: 1px;
  font-size: 1.2rem;
  border: thin solid black;
}

th,
td {
  text-align: center;
  padding: 5px 0px;
  border: thin solid black;
}

tr:nth-child(odd) {
  background-color: #82c6ee9d;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  margin: auto;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

#cart-count {
  position: absolute;
  top: 5px;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 10px;
}

#checkoutBtn {
  display: none;
}
/* Login Form */

form[name="login-form"] {
  margin: 5rem auto;
}

input[name="login-btn"] {
  text-align: center;
  margin: 1rem auto;
  max-width: 200px;
}

#login-btn {
  margin: 1rem auto;
}

/* Checkout Form */

form {
  max-width: 500px;
  margin: 0 auto;
}

form label.form-label {
  display: block;
  margin-top: 0.5rem;
}

form input {
  display: block;
  width: 95%;
  height: 44px;
  font-size: 1rem;
}

#checkout-btn {
  margin: 1rem auto;
}

.alert {
  background-color: #f0a868;
  border: #f69d3d 4px solid;
  max-width: 80%;
  margin: 1rem auto;
  padding-left: 2rem;
  position: relative;
  padding: 0.5rem;
}

.alert p {
  display: inline;
}

#closeX {
  position: absolute;
  right: 5%;
}

.first-visit-show {
  background-color: #40a0cd;
  border: #e5e5e5 4px solid;
  max-width: 90%;
  margin: 1rem auto;
  padding-left: 2rem;
  position: relative;
  padding: 0.5rem;
}

.first-visit-show p {
  display: inline;
  padding: 1rem 5rem;
}

.first-visit-show p a {
  text-decoration: none;
  color: white;
}
/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}
.product-card img {
  margin: 1.5rem auto;
  display: block;
}

.quick-view {
  font-size: 2.5rem;
  padding: 0.1rem 0.5rem;
  text-align: center;
  align-items: center;
}

.modal {
  animation: blowUp 0.5s ease-out;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  width: 650px;
  height: 70%;
  padding: 1.3rem;
  min-height: 250px;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
  text-align: center;
}

.modal button.close {
  position: fixed;
  top: 5px;
  left: 5px;
  padding: 1rem;
}

.modal section {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.modal section h2 {
  margin: 1rem;
}

.modal section img,
div.product-price-discount {
  margin: 1rem auto;
}
.modal section div.product-price-discount {
  margin: auto;
}

.modal section p#productDescriptionHtmlSimple {
  padding: 0.5rem 1.5rem 0.5rem;
}

.modal div.product-detail__add {
  margin: 2rem auto;
}

.modal section #discountFlag {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

@media screen and (max-width: 700px) {
  .modal {
    width: 95%;
    height: 95%;
    flex-direction: column;
    overflow-y: scroll;
  }

  .modal section h3 {
    margin-top: 2.5rem;
  }
  .modal section h2 {
    grid-column: 1/8;
    font-size: 1em;
  }

  .modal button.close {
    position: relative;

    justify-content: center;
  }

  .modal section img {
    display: block;
    margin: 0 auto;
    height: 80%;
  }

  .modal section label {
    margin: auto;
  }

  .modal section #discountFlag {
    display: none;
  }
}

@keyframes blowUp {
  0% {
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

.modal img {
  display: block;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

.product-card__discount {
  color: red;
  font-style: italic;
}
.breadcrumbs {
  padding: 10px;
  font-size: 18px;
  display: flex;
}
.breadcrumbs li {
  padding: 5px;
  text-decoration: none;
  list-style-type: none;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: 4em auto;
  background-color: var(--light-grey);
}

.product-detail img {
  width: 100%;
}

#discountFlag {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 55%);
  transform: translate(-50%, 55%);
  width: 100px;
  padding: 15px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 1.4em;
  border: 4px solid #ffffff;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
  max-width: 600px;
  gap: 5px;
}

.cart-card__image {
  grid-row: 1/4;
  grid-column: 1;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
  padding: 5px 0px;
  margin-bottom: 0px;
}

.cart-card__quantity {
  grid-row: 3;
  grid-column: 2;
  padding: 0px;
}

.productQuantity {
  max-width: 3rem;
  text-align: center;
}

.cart-card__price {
  grid-row: 3;
  grid-column: 3;
  text-align: center;
  margin: 1rem;
}

.productQuantity {
  padding: 1px 5px;
  font-size: inherit;
}

#closeBtn {
  grid-row: 1;
  grid-column: 3;
  padding: 0.5rem 1rem;
}

/* Style Cart Total*/
.cart-total-box {
  display: none;
}

.cart-total {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

/* Product price discount */
.line-through {
  text-decoration: line-through;
  font-size: 0.8em;
  color: #a5a5a5;
  align-self: flex-end;
}

.product-price-discount {
  font-size: 1.4em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.product-price-discount p {
  margin: 0 0.3em;
}

.product-detail__add {
  margin-bottom: 3.5em;
}

.product__quantity {
  display: block;
  margin: 1rem 0px;
  text-align: center;
}

#product-selected-qty {
  padding: 0.3rem 1em;
  margin: 1rem 0.5rem;
  font-size: 1rem;
}

#productColorName {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#productColorName [type="radio"] {
  opacity: 0;
  height: 0;
  width: 0;
}

#productColorName [type="radio"] + img {
  cursor: pointer;
}

[type="radio"]:checked + img {
  outline: 2px solid black;
  box-shadow: 0px 0px 37px 0px #000000;
}

#productColorName label {
  text-align: center;
  margin-bottom: 1rem;
}

.color-img {
  max-width: 80px;
  object-fit: fill;
  border-radius: 15%;
  margin-top: 5px;
}

/*  PRODUCT CAROUSEL */

.picture-container {
  position: relative;
}
.picture-container > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.carousel-btn {
  position: absolute;
  background: none;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.5);
  bottom: 2%;
  cursor: pointer;
  padding: 0px 0.75rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-btn:hover,
.carousel-btn:focus {
  color: black;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-btn.prev {
  left: 1px;
}

.carousel-btn.next {
  right: 1px;
}

picture > img {
  display: block;
}

@media screen and (max-width: 400px) {
  #productColorName {
    grid-template-columns: repeat(2, 1fr);
  }

  #productColorName label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
